/* scroll bar start*/
::-webkit-scrollbar {
  width: 15px;
  background-color: #7e22ce;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #3b82f6);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #0051ff);
}
/* scroll bar end */

/* navbar section start */
@media (max-width: 768px) {
  #menu li a::after {
    width: auto !important;
  }
  #home-btn {
    padding-left: 1rem;
  }
}
/* navbar section end */

/* Hero section start */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-animation {
  animation: fadeIn 1s ease-out forwards;
}
/* Hero section end */

/* about section start */
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.9;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.about-animation {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
}
/* about section end */

/* stacks section start */
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.9;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.stacks-animation {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
}
/* stacks section end */

/* projects section start */
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.9;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.project-animation {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
}
/* projects sention end */

/* contact section start */
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.9;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.socials-animation {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
}

.social-items {
  word-wrap: break-word;
}
/* contact section end */

/* footer section start */
@keyframes wave1 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes wave2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

footer {
  position: relative;
  z-index: 1;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(/portofolio/assets/wave.png);
  background-size: 1000px 100px;
  z-index: -1;
}

.wave.wave1 {
  animation: wave1 30s linear infinite;
  opacity: 1;
  animation-delay: 0s;
}

.wave.wave2 {
  animation: wave2 15s linear infinite;
  opacity: 0.5;
  animation-delay: -5s;
}

.wave.wave3 {
  animation: wave1 10s linear infinite;
  opacity: 0.7;
  animation-delay: -2s;
}

.wave.wave4 {
  animation: wave2 20s linear infinite;
  opacity: 0.8;
  animation-delay: -3s;
}
/* footer section end */
